.DS_Store

# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/tfplan*
**/*.tfvars
**/*.tfvars.json
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraform.tfstate.lock.info
**/.terraformrc
**/terraform.rc
**/crash.log

# Node / Functions
**/node_modules/*
**/dist/*
**/.funcpack/*
**/.env

# IDE
.vscode/*
!.vscode/extensions.json
